<%- include("header") -%>
    <div style="text-align: center;">
    <h1>The temperature in <%=city%> is <%=temp%>°C</h1>
    <img height="150px" src=<%= image %> />
    <form action="/" method="post">
        <button><a href="/">Home</a></button>
    </form>
    <script src="../index.js"></script>
    </div>
<%- include("footer") -%>